@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .break {
    break-before: page;
  }
}

@page {
  size: A4 landscape;
  margin: 6mm;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
